<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Employees</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Home
    </a>
    <a href="<%= url_for :action => :new %>" class="ui-btn-right" data-icon="plus">
      New
    </a>
	</div>
  <div class="content">
    <ul data-role="listview">
      <% @employees.each do |employee| %>
      <li>
        <a href="<%= url_for :action => :show, :id => employee.
        object %>">
          <span class="title"><%= employee.name %> is <%= find_desigation(employee.age.to_i)%></span>
          <span class="disclosure_indicator"></span>
        </a>
      </li>
      <% end %>
    </ul>
  </div>

</div>
