<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @employee.name %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
    <a href="<%= url_for :action => :edit, :id => @employee.object %>" class="ui-btn-right" data-icon="star">
      Edit
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      
          <li>
            <div class="itemLabel">Name</div>
            <div class="itemValue"><%= @employee.name %></div>
          </li>
      
          <li>
            <div class="itemLabel">Company</div>
            <div class="itemValue"><%= @employee.company %></div>
          </li>
      
          <li>
            <div class="itemLabel">Address</div>
            <div class="itemValue"><%= @employee.address %></div>
          </li>
      
          <li>
            <div class="itemLabel">Age</div>
            <div class="itemValue"><%= @employee.age %></div>
          </li>
      
          <li>
            <div class="itemLabel">Gender</div>
            <div class="itemValue"><%= @employee.gender %></div>
          </li>
      
          <li>
            <div class="itemLabel">Salary</div>
            <div class="itemValue"><%= @employee.salary %></div>
          </li>
      
    </ul>
  </div>

</div>
